---
import GlobalLayout from '@/layouts/GlobalLayout.astro'
import PoweredBy from '../components/PoweredBy.astro'
import { getNavLink, getStaticFilePath } from '../lib/blog-helpers.ts'

export interface Props {
  title: string
  description: string
  path: string
  ogImage?: string
}

const { title, description, path, ogImage } = Astro.props as Props

const siteURL = new URL(getNavLink(path), Astro.site).toString()
// TODO 画像差し替え
const siteOGImage = new URL(
  getStaticFilePath('/default-og-image.png'),
  Astro.site
)
---

<GlobalLayout
  title={title}
  description={description}
  siteURL={siteURL}
  ogImage={ogImage}
  siteOGImage={siteOGImage}
>
  <main slot="body">
    <slot name="main" />

    <footer>
      <PoweredBy />
    </footer>
  </main>
</GlobalLayout>

<style>
  main {
    max-width: 100vw;
    min-height: 100vh;
    background-color: rgb(#000 / 15%);
    background-image: url('/assets/texture/black-paper_38.jpg');
    background-size: cover;
  }

  @media (width <= 640px) {
    main {
      padding: 0 18px;
    }
  }

  footer {
    font-size: 0.75rem;
    text-align: center;
  }
</style>
