---
import { pascalToKebab } from '@/lib/text'
import Layout from '../layouts/_Layout.astro'

const menus = [
  {
    text: 'Modal',
    children: [
      {
        text: 'SearchModal',
      },
    ],
  },
  {
    text: 'Animations',
    children: [
      {
        text: 'EyecatchSlider',
      },
      {
        text: 'VisibleOnScroll',
      },
    ],
  },
  {
    text: 'Header',
    children: [
      {
        text: 'hamburger-menu',
      },
      {
        text: 'links',
      },
    ],
  },
  {
    text: 'Embed',
    children: [
      {
        text: 'GoogleMap',
      },
    ],
  },
  {
    text: 'Button',
    children: [
      {
        text: 'SearchButton',
      },
    ],
  },
  {
    text: 'Text',
    children: [{ text: 'SectionTitleWithCoffeeStain' }],
  },
]
---

<Layout title="" description="" path="/">
  <main slot="main">
    <ul>
      {
        menus.map((menu) => (
          <li>
            <h1>{menu.text}</h1>
            {menu.children && (
              <ul>
                {menu.children.map((child) => (
                  <li>
                    <a
                      href={`/${pascalToKebab(menu.text)}/${pascalToKebab(child.text)}`}
                    >
                      {child.text}
                    </a>
                    {child.children && (
                      <ul>
                        {child.children.map((grandChild) => (
                          <li>
                            <a
                              href={`/${pascalToKebab(menu.text)}/${pascalToKebab(child.text)}/${pascalToKebab(grandChild.text)}`}
                            >
                              {grandChild.text}
                            </a>
                            {grandChild.children && (
                              <ul>
                                {grandChild.children.map((greatGrandChild) => (
                                  <li>
                                    <a
                                      href={`/${pascalToKebab(menu.text)}/${pascalToKebab(child.text)}/${pascalToKebab(grandChild.text)}/${pascalToKebab(greatGrandChild.text)}`}
                                    >
                                      {greatGrandChild.text}
                                    </a>
                                  </li>
                                ))}
                              </ul>
                            )}
                          </li>
                        ))}
                      </ul>
                    )}
                  </li>
                ))}
              </ul>
            )}
          </li>
        ))
      }
    </ul>
    <style>
      main {
        padding: 20px;
      }

      ul {
        padding-left: 0;
        list-style-type: none;
      }

      ul li {
        position: relative;
        padding-left: 20px;
        margin-bottom: 10px;
      }

      ul li::before {
        position: absolute;
        left: 0;
        color: #333;
        content: '•';
      }

      ul ul {
        padding-left: 20px;
        list-style-type: none;
      }

      ul ul li::before {
        content: '◦';
      }

      ul ul ul li::before {
        content: '▪';
      }

      ul ul ul ul li::before {
        content: '▫';
      }
    </style>
  </main>
</Layout>
