---
import { pascalToKebab } from '@/lib/text'

const menus = [
  {
    text: 'Form',
    children: [
      {
        text: 'Checkbox',
      },
    ],
  },
  {
    text: 'Modal',
    children: [
      {
        text: 'SearchModal',
      },
    ],
  },
  {
    text: 'Animation',
    children: [
      {
        text: 'EyecatchSlider',
      },
      {
        text: 'ViewTransitions',
      },
      {
        text: 'VisibleOnScroll',
      },
    ],
  },
  {
    text: 'Header',
    children: [
      {
        text: 'hamburger-menu',
      },
      {
        text: 'header-sample-cafe',
      },
    ],
  },
  {
    text: 'Embed',
    children: [
      {
        text: 'GoogleMap',
      },
    ],
  },
  {
    text: 'Button',
    children: [
      {
        text: 'Buttons',
      },
    ],
  },
  {
    text: 'Card',
    children: [
      {
        text: 'Menu',
      },
    ],
  },
  {
    text: 'Outline',
    children: [{ text: 'SectionTitleWithCoffeeStain' }],
  },
  {
    text: 'Util',
    children: [
      {
        text: 'WhenVisible',
      },
    ],
  },
]
---

<nav>
  {
    menus.map((menu) => (
      <>
        <h1>{menu.text}</h1>
        {menu.children && (
          <ul>
            {menu.children.map((child) => (
              <li>
                <a
                  href={`/${pascalToKebab(menu.text)}/${pascalToKebab(child.text)}`}
                >
                  {child.text}
                </a>
                {child.children && (
                  <ul>
                    {child.children.map((grandChild) => (
                      <li>
                        <a
                          href={`/${pascalToKebab(menu.text)}/${pascalToKebab(child.text)}/${pascalToKebab(grandChild.text)}`}
                        >
                          {grandChild.text}
                        </a>
                        {grandChild.children && (
                          <ul>
                            {grandChild.children.map((greatGrandChild) => (
                              <li>
                                <a
                                  href={`/${pascalToKebab(menu.text)}/${pascalToKebab(child.text)}/${pascalToKebab(grandChild.text)}/${pascalToKebab(greatGrandChild.text)}`}
                                >
                                  {greatGrandChild.text}
                                </a>
                              </li>
                            ))}
                          </ul>
                        )}
                      </li>
                    ))}
                  </ul>
                )}
              </li>
            ))}
          </ul>
        )}
      </>
    ))
  }
</nav>

<style>
  h1 {
    font-size: 2rem;
  }

  nav {
    padding: 1rem;
  }

  main {
    padding: 20px;
  }

  ul {
    padding-left: 0;
    list-style-type: none;
  }

  ul li {
    position: relative;
    padding-left: 20px;
    margin-bottom: 10px;
  }

  ul li::before {
    position: absolute;
    left: 0;
    color: #333;
    content: '•';
  }

  ul ul {
    padding-left: 20px;
    list-style-type: none;
  }

  ul ul li::before {
    content: '◦';
  }

  ul ul ul li::before {
    content: '▪';
  }

  ul ul ul ul li::before {
    content: '▫';
  }
</style>
