---
import { Post } from '../lib/interfaces.ts'
import { getNavLink, getPostLink } from '../lib/blog-helpers.ts'
import PostTags from './PostTags.astro'

export interface Props {
  prevPost: Post
  nextPost: Post
}

const { prevPost, nextPost } = Astro.props
---

<div class="post-relative-link">
  <div class="next-prev-link">
    {
      prevPost && (
        <a href={getPostLink(prevPost.Slug)}>
          <div class="label">◀︎ Back</div>
          <div class="wrap">
            <PostTags post={prevPost} enableLink={false} />
            <div class="title text-ellipsis">{prevPost.Title}</div>
          </div>
        </a>
      )
    }
    {
      nextPost && (
        <a href={getPostLink(nextPost.Slug)}>
          <div class="label">Next ▶︎</div>
          <div class="wrap">
            <PostTags post={nextPost} enableLink={false} />
            <div class="title text-ellipsis">{nextPost.Title}</div>
          </div>
        </a>
      )
    }
  </div>
  <div class="top-link">
    <a href={getNavLink('/')} class="text">Home</a>
  </div>
</div>

<style>
  .next-prev-link {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
  }

  .next-prev-link > * {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1rem;
    color: var(--fg);
    background: rgb(227 226 224 / 50%);
    border-radius: var(--radius);
  }

  .next-prev-link .label {
    align-self: flex-start;
    width: auto;
    font-size: 0.85rem;
    font-weight: bold;
  }

  .next-prev-link > *:nth-child(1) .label {
    align-self: flex-start;
  }

  .next-prev-link > *:nth-child(2) .label {
    align-self: flex-end;
  }

  .next-prev-link .wrap {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
  }

  .text-ellipsis {
    -webkit-line-clamp: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .top-link {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .top-link > a {
    padding: 0.75rem;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: underline;
  }

  @media (width <= 640px) {
    .next-prev-link {
      flex-direction: column;
    }
  }
</style>
