---
import NavMenu from '@/components/NavMenu.astro'
import GlobalLayout from '@/layouts/GlobalLayout.astro'
import { kebabToPascal } from '@/lib/text'

export interface Props {
  title: string
  description: string
  path: string
  ogImage?: string
}

const { title, description, path, ogImage } = Astro.props as Props
const pageName = Astro.url.pathname.split('/').pop() || Astro.url.pathname
---

<GlobalLayout
  title={title}
  description={description}
  siteURL={path}
  ogImage={ogImage}
>
  <Fragment slot="head">
    <slot name="head" />
  </Fragment>
  <div slot="body" class="body">
    <NavMenu />
    <main>
      <h1>
        {kebabToPascal(pageName)}
      </h1>
      <div class="container">
        <slot />
      </div>
    </main>
  </div>
</GlobalLayout>

<style>
  .contents {
    display: contents;
  }

  .body {
    display: grid;
    grid-template-columns: max-content 1fr;
    max-width: 100dvw;
    max-height: 100dvh;
    padding: 2rem;
  }

  main {
    display: grid;
    grid-template-rows: max-content 1fr;
    height: 85dvh;
  }

  .container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    height: 90dvh;
    padding: 2rem;
    margin-block: auto;
    overflow: auto;
    border: 1px solid #000;
  }
</style>
